@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf')  format('truetype');
}

:root {
    --screen-bg-color: #FFDBB5;
    --main-bg-color: #419D78;
    --danger-color: red;
    --green-color: green;
    background-color: var(--screen-bg-color);
    font-family: poppins;
    font-size: 15px;
}

#training-screen {
  display: none;
}

.nav-content, a.btn, div.collapsible-header{
    background-color: var(--main-bg-color);
    color: white;
}

.btn-left {
  margin-left: 0px !important;
}

a.action-btn {
    margin-bottom: 15px;
    height: auto !important;
    text-transform: unset !important;
}

.nav-title {
  font-size: 1.4rem !important;
  padding: 15px !important;
}

.container {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

/* Selects text color */
.dropdown-content li > a, .dropdown-content li > span, .input-field input[type=text], .input-field input[type=text]:focus {
    color: black !important;
    /* padding: 25px !important; */
}

/* Selects bottom border color */
/* label underline focus color */
.input-field input[type=text]:focus {
	  border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

/* Selects bottom border color */
/* label underline focus color */
.input-field input[type=text], .input-field input[type=text]:focus {
    /* padding: 40px 0 40px 0 !important;
    line-height: 4em !important; */
	  border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

div.input-field {
  margin-bottom: 0px !important;
}

/* Couleur de texte du label des select */
div.input-field label {
  color: black;
}

/* On met en gras la ligne qui affiche le total des stats */
#sum-tr{
  font-weight: bold;
}

.delete-stats-btn, .delete-all-stats-btn {
  background-color: var(--danger-color) !important;
}

.answer-btn {
  width: 16% !important;
  margin: 2% !important;
  font-size: 3.1vw !important;
  text-transform: unset !important;
}
